<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        c:_0 下标方式
        c:name 参数名方式
    -->
    <bean id="peopleBean" class="org.example.spring6.bean__JianDanLeiXing.People" c:name="张三" c:_1="10" c:_2="true"/>

</beans>