<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="userDaoBean" class="org.example.spring6.dao.UserDao"/>
    <bean id="userServiceBean" class="org.example.spring6.service.UserService">
        <property name="userDao" ref="userDaoBean"/>
    </bean>

</beans>